*{
  margin: 0;
  padding: 0;
}

.App{
  text-align: center;
  background-image: linear-gradient(rgb(140, 190, 255),rgb(252, 210, 217),rgb(253, 253, 115));
  height: 100vh;

}

#h1{
  text-shadow: 4px 4px 5px aqua;
  
}

.btn1{
  width: 250px;
  font-size: 12px;
  height: 50px;
  border-radius: 25px;
  background-color:rgb(140, 190, 255) ;
  position: fixed;
  top: 125px;
  left: 400px;
}

.btn2{
  width: 250px;
  font-size: 12px;
  height: 50px;
  border-radius: 25px;
  background-color:rgb(140, 190, 255) ;
  position: fixed;
  top: 125px;
  right: 375px;
}

.btn1:hover{
  cursor: pointer;
  background-color: aqua;
}

.btn2:hover{
  cursor: pointer;
  background-color: aqua;
}

#pf{
  color: red;
}

#pc{
  color: green;
}

.card{
  position: fixed;
  top: 300px;
  left: 150px;
  line-height: 45px;
  background-color: aqua;
  border-radius: 15px;
  border: 2px solid;
  height: 250px;
  width: 500px;
}

.card1{
  position: fixed;
  bottom: 103px;
  left: 750px;
  line-height: 45px;
  background-color:palevioletred;
  border-radius: 15px;
  border: 2px solid;
  height: 250px;
  width: 500px;
}